html,body{
    overflow-x: hidden;
}
body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    background: linear-gradient(-45deg, #08262E, #005177, #4F305C);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

header {
    font-family: sans-serif;
    color: white;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
}

main {
    color: white;
    padding: 2vw;
}

h1 {
    text-align: center;
}

.header-logo {
    display: inline-flex;
    margin: 0;
    padding: 2vw;
    padding-left: 3vw;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 0px 0px 10px black;
}

.header-buttons {
    position: absolute;
    right: 1vw;
    top: 25%;
}
button {
    background-color: rgb(187, 253, 202);
    color: rgb(8, 38, 46);
    padding: 0.5vw;
    border: none;
    border-radius: 10px;
    margin-right: 1vw;
    font-weight: bold;
    vertical-align: middle;
    transition: all 0.2s;
}
button:hover {
    cursor: pointer;
    scale: 1.12;
    border: 1.5px solid rgb(187, 253, 202);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(187, 253, 202);
}


.intro-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    background-color: rgb(51, 112, 127);
    height: 250px;
    width: 260px;
    border-radius: 500px;
    box-shadow: 0px 0px 150px rgba(255, 255, 255, 0.186);
    animation: slideIn 1s ease;    
    transition: all 0.2s;
}
.profile-pic:hover {
    box-shadow: 0px 0px 150px rgba(255, 255, 255, 0.249);
}


.intro-text {
    display: flex;
    padding-left: 150px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    text-shadow: 0px 0px 4px black;
    line-height: 55px;
}
.intro-text h1 {
    animation: slideIn 1s ease;    
}
.intro-text h2 {
    animation: slideIn 2s ease;    
}
.intro-text h3 {
    animation: slideIn 3s ease;    
}


.about-section {
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 50px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.397);
    padding: 4vw;
    margin: 6vw;
    font-family: sans-serif;
    text-shadow: 0px 0px 4px black;
    line-height: 44px;
    transition: all 0.15s;
}
.about-section h1 {
    margin-bottom: 60px;
}

.about-section p {
    color: white;
}

.about-section:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.397);
    scale: 1.005;
}




.skills-section {
    border-radius: 50px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.397);
    padding: 4vw;
    margin: 6vw;
    font-family: sans-serif;
    text-shadow: 0px 0px 4px black;
    text-align: center;
    transition: all 0.15s;
}
.skills-section:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.397);
    scale: 1.005;
}
.skills-container {
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-card {
    background-color: rgba(0, 0, 0, 0.04);
    height: 250px;
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.414);
    text-align: center;
    transition: all 0.15s;
}
.skill-card img {
    height: 200px;
    width: 150px;
}

.skill-card p {
    font: sans-serif;
}
.skill-card:hover {
    scale: 1.1;
}



.experience-section {
    border-radius: 50px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.397);
    padding: 60px;
    margin: 6vw;
    font-family: sans-serif;
    text-shadow: 0px 0px 4px black;
    line-height: 44px;
    transition: all 0.15s;
}
.experience-section:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.397);
    scale: 1.005;
}


.experience {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 40px;
    border-radius: 40px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.328);
    transition: all 0.15s;
}

.experience p {
    color: white;
}



.portfolio-section {
    border-radius: 50px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.397);
    padding: 4vw;
    margin: 6vw;
    font-family: sans-serif;
    text-shadow: 0px 0px 4px black;
    line-height: 44px;
    transition: all 0.15s;
}
.portfolio-section:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.397);
    scale: 1.005;
}

.projects-container {
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background-color: rgba(0, 0, 0, 0.04);
    width: 400px;
    height: 650px;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.414);
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 0.15s;
}

.project-card img {
    height: 200px;
    width: 300px;
    align-self: center;
}

.project-card:hover {
    scale: 1.03;
}



.contact-section {
    border-radius: 50px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.397);
    padding: 4vw;
    margin: 6vw;
    font-family: sans-serif;
    text-shadow: 0px 0px 4px black;
    line-height: 44px;
    transition: all 0.15s;
}
.contact-section:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.397);
    scale: 1.005;
}

.contact-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.contact {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    box-shadow: 2px 2px 8px black;
    height: 70px;
    width: 500px;
    align-items: center;
    padding: 10px;
    padding-left: 30px;
    border-radius: 30px;
    transition: all 0.15s;
}
.contact img {
    height: 50px;
}
.contact p {
    display: inline-block;
    padding: 20px;
    padding-left: 40px;
}

.contact:hover {
    scale: 1.05;
}

a {
    text-decoration: none;
    color: white;
}



footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



@keyframes slideIn {
    from {transform: translateY(50px);}
    to {transform: translateY(0px);}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}







@media screen and (max-width: 800px) {
    body {
    background: linear-gradient(75deg, #0b313c, #04567c, #4F305C);
	background-size: 400% 400%;
    }
    /* remove hover effects for mobile devices  */
    button:hover {
        scale: 1;
    }
    .profile-pic:hover {
        scale: 1;
    }
    .about-section:hover,
    .skills-section:hover,
    .skill-card:hover,
    .experience-section:hover,
    .portfolio-section:hover,
    .project-card:hover,
    .contact-section:hover,
    .contact:hover {
    scale: 1;
    }


    .header-logo {
        font-size: 26px;
    }
    .header-buttons button {
        font-size: 20px;
    }
    .intro-section {
        flex-direction: column;
    }
    .intro-text {
        padding-left: 0;
        text-align: center;
        align-items: center;
    }
    .experience-section {
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        text-align: center; 
    }
    .experience {
        text-align: left;
    }
    .contact {
        width: 400px;
    }
    
  }

  @media screen and (max-width: 500px) {
    .header-logo {
        font-size: 24px;
    }
    .header-buttons a {
        padding: 10px;
        font-size: 16px;
    }
    
    main {
        font-size: 16px;
    }

    button {
        padding: 8px;
    }

    .about-section,
    .skills-section,
    .experience-section,
    .portfolio-section,
    .contact-section {
        margin-left: 10px;
        margin-right: 10px;
    }

    .intro-text {
        line-height: 50px;
        padding: 40px;
    }

    .about-section {
        padding: 40px;
    }


    .skills-container {
        gap: 40px;
        padding-bottom: 40px;
    }
    .skill-card img {
        scale: 0.7;
    }
    

    .experience {
        text-align: left;
        padding: 30px;
    }
    
    
    .project-card {
        padding: 10px;
        width: 250px;
        height: auto;
        padding-bottom: 30px;
    }
    .project-card img {
        scale: 0.8;
    }

    .contact-section {
        margin: 0;
    }
    .contact {
        height: 40px;
        width: 270px;
        padding: 20px;
    }
    .contact img {
        height: 30px;
    }
    .contact p {
        padding: 0;
        padding-left: 20px;
        justify-content: center;
    }

  }



